<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Mi aplicación ASP.NET</title>
	@Styles.Render("~/Content/css")
	@Styles.Render("~/index.css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<aside class="sidebar">
		<ul class="px-0 pt-4">
			<li>
				@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link py-2 px-4" })
			</li>
			<li>@Html.ActionLink("Alumnos", "Alumnos", "Alumno", new { area = "" }, new { @class = "nav-link py-2 px-4" })</li>
			<li>@Html.ActionLink("Profesores", "Index", "Profesor", new { area = "" }, new { @class = "nav-link py-2 px-4" })</li>
		</ul>
	</aside>
	<div class="flex-grow-1 px-4">
		@RenderBody()
	</div>
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>
