@model IEnumerable<SIS_MAT_MVC.ProxyAlumno.AlumnoDC>

@{
	ViewBag.Title = "Alumnos";
}

<header class="p-4">
	<h2>Alumnos</h2>
	@Html.ActionLink("Crear nuevo alumno", "Create", null, new { @class = "btn btn-primary text-white text-decoration-none" })
</header>
<div class="table-container">
	<div class="table-view px-4">
		<table class="table">
			<tr>
				<th width="100">
					Foto
				</th>
				<th width="150">
					Nombre
				</th>
				<th width="150">
					Apellido
				</th>
				<th width="150">
					@Html.DisplayNameFor(model => model.Departamento)
				</th>
				<th width="150">
					@Html.DisplayNameFor(model => model.Provincia)
				</th>
				<th width="250">
					Dirección
				</th>
				<th width="230">
					Distrito
				</th>
				<th width="120">
					DNI
				</th>
				<th width="280">
					Email
				</th>
				<th width="120">
					@Html.DisplayNameFor(model => model.Estado)
				</th>
				<th width="190">
					Birthday
				</th>
				<th width="120">
					@Html.DisplayNameFor(model => model.Sexo)
				</th>
				<th width="120">
					Telefono
				</th>
				<th width="200"></th>
			</tr>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						@if (item.Foto_alum != null)
						{
							<img width="30" height="30" src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Foto_alum))" alt="Imagen">
						}
						else
						{
							<span>-</span>
						}
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Nom_alum)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Ape_Alum)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Departamento)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Provincia)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Dir_alum)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Distrito)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Dni_alum)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Email_alum)
					</td>
					<td>
						@if (item.Estado == "Activo")
						{
							<span class="badge text-bg-primary">Activo</span>
						}
						else
						{
							<span class="badge text-bg-secondary">@Html.DisplayFor(modelItem => item.Estado)</span>
						}
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Fec_nac)
					</td>

					<td>
						@if (item.Sexo == "M")
						{
							<span>Masculino</span>
						}
						else
						{
							<span>Femenino</span>
						}
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Tel_alum)
					</td>
					<td>
						@Html.ActionLink("Edit", "Edit", new { Id = item.Id_alum }) |
						@Html.ActionLink("Details", "Details", new { Id = item.Id_alum }) |
						<a href="javascript:void(0);" onclick="deleteAlumno('@item.Id_alum')">Delete</a>
					</td>
				</tr>
			}
		</table>
	</div>
</div>

<script>
    function deleteAlumno(id) {
        if (confirm('¿Estás seguro de que deseas eliminar este alumno?')) {
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '@Url.Action("Delete", "Alumno")/' + id;
            document.body.appendChild(form);
            form.submit();
        }
    }
</script>
