@model SIS_MAT_MVC.Models.AlumnoModel


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Alumno", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AlumnoDCINSERTS</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Alumno.Ape_Alum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Alumno.Ape_Alum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Alumno.Ape_Alum, "", new { @class = "text-danger" })
            </div>
        </div>

	<div class="form-group">
		@Html.LabelFor(model => model.Alumno.Foto_alum, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			<input type="file" name="Foto_alum" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Alumno.Dir_alum, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Alumno.Dir_alum, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Alumno.Dir_alum, "", new { @class = "text-danger" })
		</div>
	</div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alumno.Dni_alum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Alumno.Dni_alum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Alumno.Dni_alum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alumno.Email_alum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Alumno.Email_alum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Alumno.Email_alum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alumno.Est_alum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Alumno.Est_alum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Alumno.Est_alum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alumno.Fec_nac, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Alumno.Fec_nac, "{0:dd-MM-yyyy}", new { @class = "form-control", type = "date" })
                @* The "dd-MM-yyyy" format ensures the date is properly formatted for the model binding. *@
                @Html.ValidationMessageFor(model => model.Alumno.Fec_nac, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alumno.Nom_alum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Alumno.Nom_alum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Alumno.Nom_alum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alumno.Sexo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Alumno.Sexo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Alumno.Sexo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alumno.Tel_alum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Alumno.Tel_alum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Alumno.Tel_alum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

	@Html.DropDownListFor(model => model.Ubigeo, new SelectList(Model.Ubigeo.Departamentos, "IdDepa", "Departamento"), "-- Seleccione Departamento --", new { @class = "form-control" })

	@Html.DropDownListFor(model => model.Ubigeo, new SelectList(Model.Ubigeo.Provincias, "IdProv", "Provincia"), "-- Seleccione Provincia --", new { @class = "form-control" })

	@Html.DropDownListFor(model => model.Ubigeo, new SelectList(Model.Ubigeo.Distritos, "IdDis", "Distrito"), "-- Seleccione Distrito --", new { @class = "form-control" })


    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
